{% extends 'base.html' %}
{% block body %}

<div>
    <div class="flex flex-col justify-center items-center h-full mt-8">
        <div class="w-full max-w-4xl p-6 space-y-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-bold text-center mb-4">{{ game.subject }} - {{ game.details }}</h2>
            <div class="carousel relative overflow-hidden rounded-lg">
                <div class="carousel-inner flex items-center justify-between p-2" id="carousel-items">
                    <form method="POST" action="{% url 'game:end_game' game_id=game.id%}" id="answer-form">
                    {% csrf_token %}
                    {% for question in game.questions %}
                    <div class="carousel-item relative w-full h-96">
                        <div class="h-1/6">
                            <p class="text-lg font-bold mb-4">{{forloop.counter}}. {{ question.question }}</p>
                        </div>
                            {% with questionID=forloop.counter0 %}
                            <input type="hidden" name="question_id" value="{{ forloop.counter0 }}"> 
                            <div class="mt-4 space-y-2">
                                {% for choice, quesDet in question.answer_choices.items %}
                                <div class="flex items-center">
                                    <input type="radio" id="{{questionID}}-choice-{{ forloop.counter0 }}" name="{{questionID}}" value="{{choice}}" class="{{questionID}}input w-4 h-4 text-blue-600 bg-gray-100 rounded border border-gray-300 focus:ring-blue-500">
                                    <label for="{{questionID}}-choice-{{ forloop.counter0 }}" class="ml-2 text-sm font-medium text-gray-900">{{choice}}: {{quesDet}}</label>
                                </div>
                                {% endfor %}
                            </div>
                            {% endwith %}
                    </div>
                    {% endfor %}
                </form>
                </div>
            </div>
            <div class="flex justify-center space-x-2">
                {% for question_number in game.questions %}
                <button 
                    class="bg-white text-gray-800 font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    data-question-index="{{ forloop.counter0 }}"
                    onclick="showSlide({{ forloop.counter0 }})"
                >
                    {{ forloop.counter }}
                </button>
                {% endfor %}
            </div>
            <div class="flex justify-center">
                <button id="prev" class="bg-gray-300 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded-l-lg focus:outline-none focus:shadow-outline" onclick="prevSlide()">Prev</button>
                <button id="submit_answer" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="submitAllAnswers()">Submit</button>
                <button id="next" class="bg-gray-300 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded-r-lg focus:outline-none focus:shadow-outline" onclick="nextSlide()">Next</button>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
{% block script %}
<script>
    let slideIndex = 0;
    const items = document.querySelectorAll('.carousel-item');
    const prevBtn = document.getElementById('prev');
    const nextBtn = document.getElementById('next');
    const questionButtons = document.querySelectorAll('button[data-question-index]');
    
    function showSlide(n) {
        slideIndex = n
      if (n >= items.length) {
        slideIndex = 0;
      }
      if (n < 0) {
        slideIndex = items.length - 1;
      }
      items.forEach(item => item.style.display='none');
      items[slideIndex].style.display = 'block';
    }
    
    function nextSlide() {
      slideIndex++;
      showSlide(slideIndex);
    }
    
    function prevSlide() {
      slideIndex--;
      showSlide(slideIndex);
    }

    for(let i = 0; i < 10; i++) {
      const radioInputs = document.querySelectorAll(`input[name="${i}"]`); // Select all radios for this question

      radioInputs.forEach(radio => {
        radio.addEventListener('change', function() {
          if (this.checked) {
            questionButtons[i].classList.remove('bg-white');
            questionButtons[i].classList.add('bg-blue-500', 'text-white');
          } else {
            questionButtons[i].classList.remove('bg-blue-500', 'text-white');
            questionButtons[i].classList.add('bg-white', 'text-gray-800');
          }
        });
      });
    }
    
    showSlide(slideIndex);
    
    function submitAllAnswers() {
      const answerForms = document.querySelectorAll('.carousel-item');
      let allAnswered = true;
      // Check if any question has an answer selected
      answerForms.forEach(form => {
        if (!form.querySelector('input[type="radio"]:checked')) {
          allAnswered = false;
        }
      });
    
      if (!allAnswered) {
        alert("Please answer all questions before submitting.");
        return false;
      }
      document.getElementById("answer-form").submit();
    }
</script>
{% endblock script %}